    <!-- Download Section -->
    <section id="team" class="content-section text-center">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Our team</h2>
                <p>We are engineers, designers, project managers and data scientists.</p>
                <p>We graduated from top universities in China and US.</p>
                <p>We have worked in big data field for years in all types of companies, from start-ups to multinationals. </p>
                <p>We are looking for talented people to work with.</p>
            </div>
        </div>
    </section>
